{% extends 'base.html.twig' %}

{% block title %}Hello HistoryController!{% endblock %}

{% block body %}
<h1 class="mt-5 text-center">Welcome,</h1>
<h1 class="text-center">See the past Performances</h1>
<hr>
<wrapper class=" justify-content-center row mt-5">
{% for performance in performances %}
    {% if performance.date < date() %}
        <div class="card" style="width: 18rem; margin-bottom:20px; margin-left:20px;">
            <div class="card-body">
                <h5 class="card-title">Name of Artist: {{ performance.artist.name }}</h5>
                <p class="card-text">Genre: {{ performance.artist.genre }}</p>
                <p class="card-text">Date: {{ performance.date|date('Y-m-d') }}</p>
                <p class="card-title">commencement: {{ performance.commencement|date('h:i A') }}</p>
                <p class="card-text">hall: {{ performance.hall }}</p>
                <p class="card-text">{{ performance.maxseats }} Seats</p>
                <p class="card-text">Price is: &euro; {{ performance.artist.price }}</p>
            </div>
        </div>
    {% endif %}
    {% endfor %}
</wrapper>
{% endblock %}
